/* GLOBAL STYLES */

@import 'syntax.scss';

/* color variables */
$green: #43853d;
$moss-green: #234520;
$pale-green: #d3e8d7;

/* text variables */
$smaller-font: 0.9em;

body {
  background-color: #eee;
  color: #111;
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
}

p code, li code, table code {
  font-size: 1em;
  font-family: 'Roboto Mono',monospace;
  font-weight: 400;
  color: $green;
  padding: 0 4px;
  display: inline-block;
  background-color: $pale-green;
}

.highlight {
  padding: 5px 10px;
  line-height: 1.7;
  letter-spacing: 1.5px;
  font-size: 1.1em;
  word-break: break-all;
  white-space: pre-wrap;
}

.container {
  margin: auto;
  width: 90%;
}

.text-area {
  width: 80%;
  margin: auto;
  text-align: justify;
}

.title, .center {
  text-align: center;
}

.circle {
  border-radius: 50%;
  margin: 1.5em auto 2em;
}

a {
  border-radius: 1.5px;
  color: $green;
  padding: 0.1rem;
  text-decoration: none;
  transition: color 0.3s ease;

  &:visited {
    color: $green;
  }

  &:hover {
    background-color: $green;
    color: #fff;
  }

  &.link-icon:hover {
    background-color: inherit;
  }
}

p {
  color: #040404;
  font-family: 'Noto Sans', sans-serif;

  /* letter-spacing: 0.1px; */
  padding: 0.1rem;
}

/* HEADER STYLES */

.header {
  height: 8vh;
  position: relative;
}

.header-nav {
  list-style: none;
  display: inline-block;
  float: right;

  > li {
    display: inline-block;
    font-size: 0.8em;
  }

  li ~ li {
    /* margin-left: 1em; */
  }

  > li:last-child {
    margin-right: 2.5em;
  }
}

.nav-links a {
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  padding: 5px;

  &:hover {
    color: #fff;

    &:before {
      color: #2175cf;
      width: 100%;
    }
  }
}

.header-logo {
  box-sizing: border-box;
  display: block;
  height: 8vh;
  padding-top: 8px;
  position: relative;
  text-align: center;
  width: 8vh;
  transition: all 0.3s ease-in-out;

  &:hover, &:active {
    transition-timing-function: ease-in-out;
    background-color: rgba(67, 133, 61, 0.3);
  }

  img {
    width: 3em;
  }
}

/* DROPDOWN STYLES */

.dropdown {
  position: relative;

  &:hover {
    .drop-menu {
      display: block;
    }

    .drop-trigger::after {
      border-color: #ed6e2f transparent transparent;
    }
  }
}

.drop-trigger {
  display: inline-block;
  padding-right: 1.5em;
  position: relative;
}

.drop-menu {
  background-color: #eee;

  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
  display: none;
  list-style: none;
  padding: 1em 0 0;
  position: absolute;
  right: 0;
  z-index: 9;

  &::before {
    border: 0.6em solid;
    border-color: transparent transparent #fff;
    content: "";
    height: 0;
    position: absolute;
    right: 1em;
    top: -0.1em;
    width: 0;
  }

  li {
    background-color: #fff;

    ~ li {
      border-top: 1px dotted rgba(0, 0, 0, 0.1);
    }

    &:first-child {
      border-radius: 5px 5px 0 0;
      color: #999;
      font-size: 0.5em;
      padding: 1em 1em 0.25em;
      text-align: right;
      text-transform: uppercase;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
    }
  }

  a {
    color: #333;
    display: block;
    font-weight: normal;
    padding: 0.5em 2em 0.5em 1em;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      color: #333;
    }
  }
}

/* MOBILE MENU */

.mobile-menu-check, .show-mobile-menu {
  display: none;
}

/* ABOUT STYLES */

.about-container {
  text-align: center;
}

.text-wrapper {
  width: 40%;
}

.prof-img {
  margin: 3em auto 2em;

  img {
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
  }
}

/* FAVORITES STYLES */

.favs-container {
  padding: 15px 0;

  p {
    text-align: center;
  }
}

.favs-wrapper {
  /* border: 1px solid #aaa; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 10px;
}

.fav-box {
  align-items: center;
  flex: 0 1 auto;
  height: 50%;
  margin: 0 1.5em 3em;
  max-width: 250px;
  min-height: 250px;
  padding: 10px;
  width: 200px;

  img {
    display: block;
    margin: 0 auto;
    height: 20vw;
    width: 20vw;
    object-fit: cover;
    max-width: 200px;
    max-height: 200px;
  }

  h3 {
    font-family: 'Lato', sans-serif;
    font-size: 0.85em;
    font-weight: bolder;
    margin-bottom: 0;
    text-align: center;
  }

  h4 {
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    margin: 1em auto 2.5em;
    text-align: center;
  }

  .fav-copy {
    text-align: center;
    font-size: 8px;
  }
}

/* ITEM STYLES */

.item-wrapper {
  width: 70%;
  margin: auto;
}

.item-img {
  text-align: center;

  img {
    border-radius: 50%;
    display: inline-block;
    width: 40vw;
    height: 40vw;
    object-fit: cover;
    max-width: 400px;
    max-height: 400px;
  }
}

.description {
  text-align: justify;
  margin-top: 1em;

  h2 {
    margin-top: 1.2em;
  }
}

/* BEER STYLES */

/* BOOK STYLES */

.book-box img {
  width: 150px;
  height: 200px;
  object-fit: contain;
}

.book-img img {
  border-radius: 0;
  height: 60vw;
  object-fit: contain;
}

/* BLOG STYLES */

/* index */

  .posts-wrapper :first-child {
    margin-top: 3em;
  }

  .blog-post {
    .entry-title {
      letter-spacing: 0.3px;
    }

    .excerpt {
      margin: auto;
      width: 50%;
    }

    .blog-hero {
      height: 40vh;
      width: 100%;
      margin-bottom: 3em;
      object-fit: cover;
      object-position: top;
      overflow: hidden;
    }

    h2, h3 {
      text-transform: capitalize;
      text-align: center;
    }

    p {
      margin: 0 auto 25px;

      /* width: 70%; */
      /* max-width: 600px; */
      text-align: justify;
    }
  }

  .blog-img {
    width: 40vw;
    display: block;
    margin: 2em auto;
    box-shadow: 0 0 5px gray;
  }

  .caption {
    text-align: center;
    font-size: 0.75em;
    font-style: italic;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 3em;

    .header {
      border: none;
      text-align: center;
      margin-right: 1em;
    }
  }

  /* individual page */

  .post-data {
    font-size: $smaller-font;
    text-align: center;
  }

  .post-body {
    margin:  10vh auto 0;

    h1 {
      text-align: center;
    }

    h2 {
      text-align: left;
      margin: 2em auto;
      position: relative;

      &::before {
        width: 100%;
        height: 1px;
        content: "";
        background-color: #31573b;
        position: absolute;
        opacity: 0.5;
        top: 2.5rem;
      }
    }

  table {

    table-layout: fixed;
    thead {
      background-color: #777;
      color: #fff;
    }

    th, td {
      padding: 8px;
      text-align: left;
    }

    td {
      word-wrap: break-word;
    }

    .method {
      width: 30%;
    }

    .return {
      font-family: 'Roboto Mono',monospace;
    }

    .description {
      width: 50%;
    }

    tbody {
      th {
        font-family: 'Roboto Mono',monospace;
        text-align: left;
        word-break: break-all;
      }
      tr {
        border-bottom: 1px solid #aaa;
        height: 60px;
      }
    }
  }
}

/* FOOTER STYLES */

.footer {
  border-top: 1px solid #aaa;
  font-size: 0.5em;
  padding: 2vh;
  margin: 5vh;

  .name {
    text-align: center;
    font-weight: bold;
  }

  p, a {
    font-size: 0.5em;
  }
}

@media (max-width: 500px) {
  .container {
    width: 95%;
  }
}

/*# sourceMappingURL=main.css.map */
