---
layout: default
title: beers
---
<div class="container beers-container favs-container">
  <div class="title">
    <h1>My Fav Beers</h1>
    <p>飲んで美味しかったビールを載せています。</p>
  </div>

  <div class="body favs-wrapper">
    {% assign beers = site.beers | sort: 'drink_date' | reverse %}
    {% for beer in beers limit:9 %}
      <div class="beer-box fav-box">
        <a class="link-icon" href="{{ beer.url }}">
          <img class="circle" src="{{ beer.image_path }}" alt="{{ beer.title }}">
        </a>
        <h3>{{ beer.name }}</h3>
        <h4>{{ beer.brewery }}</h4>
        <div class="beer-copy fav-copy">
          {{ beer.excerpt }}
        </div>
      </div>
    {% endfor %}

    </div>
    <!-- TODO: link to mores -->
    {% if beers.size > 9 %}
      <p>...and more!</p>
    {% endif %}
  </div>
