<li><a href="/">Home</a></li>
<li><a href="/about.html">About Me</a></li>
<li class="dropdown">
  <a class="drop-trigger" href="/favorites/index.html">Collection</a>
  <ul class="drop-menu">
    <li>Category</li>
    {% for col in site.collections %}
      {% if col.label == 'posts' %}
        {% continue %}
      {% else %}
      <li class="dropdown-item"><a href="{{ col.url }}">{{ col.label }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</li>
<li class="dropdown">
  <a class="drop-trigger" href="/blog">Blog</a>
  <ul class="drop-menu">
    <li>Recent Posts</li>
    {% for post in site.posts limit:5 %}
      <li class="dropdown-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</li>
