<li><a href="/">Home</a></li>
<li><a href="/about.html">About Me</a></li>
<li class="dropdown">
  <a class="drop-trigger" href="/favorites/index.html">Favorites</a>
  <ul class="drop-menu">
    <li>Category</li>
    <li><a href="/favorites/beers.html">Beers</a></li>
    <li><a href="/favorites/books.html">Books</a></li>
    <li><a href="/favorites/musics.html">Music</a></li>
  </ul>
</li>
<li class="dropdown">
  <a class="drop-trigger" href="/blog">Blog</a>
  <ul class="drop-menu">
    <li>Recent Posts</li>
    {% for post in site.posts limit:5 %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</li>
